.ad {
    max-width: 1100px;
}
.ad .box-top{
    gap: 12px;
}
.ad-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    margin-left: 12px;
    border: 1px solid #e0e0e0;
    background: #fff;
    height: auto;
}
.ad-box img{
    max-width: 100%;
    object-fit: cover;
    cursor: pointer;
}
.ad-box{
    padding: 15px;
    border: 1px solid #e0e0e0;
}
.footer{
    padding: 40px 0;
    background: #fafafc;
    margin: 12px 0;
}
.nav-link .h-navbar li:hover{
    color: #222;

}
.footer-container{
    justify-content: space-between;
    gap: 45px;
    padding: 18px 0;
}
.footer-column{
    width: 100%;
    flex-wrap: row;
    color: #565656;
}
.footer-column p{
    font-size: 13px;
    line-height: 18px;
    margin: 0;
}
.footer-column img{
    object-fit: cover;
    width: 88px;
}
.icon i{
    color:  #666;
    background: #fff;
    border: 1px solid #dfe0e3;
    width: 24px;
    height: 24px;
    text-align: center;
    border-radius: 45px;
    padding: 4px;
    cursor: pointer;
    font-size: 14px;
}
.icon{
    justify-content: space-between;
}
.footer-column h4{
    font-size: 16px;
    line-height: 22px;
    color: #222;
    margin-bottom: 16px ;
}

.footer-column button{
    width: 100%;
    background: #043778;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    padding: 8px;
    margin: 16px;
}
.logo-container{
    width: 88px;
}

.footer-line p{
    border-right: 1px solid #ddd;
    padding: 0 4px;
    display: inline;
    margin: 0;
    cursor: pointer;
}
.footer-line p:first-child{
    padding-right: 4px;
    padding-left: 0;
}

.footer-line p:last-child{
    border-right: none;
}
.footer hr{
    border: 1.2px solid #ed1c24;
    margin: 24px 0;
}

.footer .body-container .nav-link .h-navbar{
    background-color: transparent;
}
