*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

input,
button,
select {
    outline: none;
    border: none;
    background: none;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}
.body-container{
    gap: 18px;
}

.h-flex{
    display: flex;
}
.v-flex{
    display: flex;
    flex-direction: column;
}
.fw-thin{
    font-weight: 100;
}
.fw-light{
    font-weight: 300;
}
.fw-regular{
    font-weight: 400;
}
.fw-medium{
    font-weight: 500;
}
.fw-bold{
    font-weight: 700;
}
.fw-black{
    font-weight: 900;
}
.body-container{
    max-width: 1130px;
    width: 100%;
    margin: auto;
    padding: 24px 0 0 0;
}
hr{
    border: 1px solid #f2f2f2;
}