.side-content{

}
.side-content img{
    width: 300px;
    height: 100%;
    object-fit: contain;
}

.side-content .link-title{
    font-size: 14px;
}
.side-content .news-box-flex img{
    width: 120px;
    height: 75px;
    border-radius: 5px;
}
.price{
    font-size: 13px;
    font-weight: 500;
    color: #ec3222;
}
.side-content .news-box-flex{
    gap: 8px;
}